@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://esahayakio.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2021/10/23114934/360_F_304766094_oGfiNaNzXOXli1xFLLeqYgZjBABsUB29.jpg" width="100%" height="100%" />
</div>