
<link href="~/css/employeedetail.css" rel="stylesheet" />
<script src="~/js/employeeDetail.js"></script>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="row">
        <div class="col">
            <div class="dropdown">

                @Html.DropDownList("Team", (List<SelectListItem>)ViewData["teams"],new { @class="form-select", onchange = "SelectedIndexChanged(this.value)"})

                <input type="text" name="Addteam" id="textaddteam" class="form-control text hide" />
            </div>
        </div>

        <div class="col">
            <button type="button" id="btnplus" class="btn btn-primary" onclick="hideShow()"> + </button>
            <button type="button" id="btnsave" class="btn btn-primary hide" onclick="getEmployeeList()"> Save </button>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div id="empData" class="d-flex justify-content-center">
                
            </div>
        </div>
    </div>


    <button type="button" id="btnSaveEmp" onclick="saveEmpData()" class="btn btn-primary hide">Save</button>

</form>


