@model CMSManagement_Web.Models.Employee

@{
    ViewData["Title"] = "EmployeeAdd";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire({
                text: "@ViewBag.Message",
                icon: 'success',
                type: "success",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "EmployeeList";
                }
            })
        }
    </script>
}

<link href="~/css/employee.css" rel="stylesheet" />

<div class="container employee">
    <div class="row">
        <div class="col-md-3 employee-left">
            <h3>Welcome, Administrator</h3>
            <p>Welcome to the Administrator Dashboard. This is your dedicated space for managing and overseeing all aspects of our website. From content updates to user management, you have the tools to keep everything running smoothly. If you have any questions or need assistance, don't hesitate to reach out to our support team. Thank you for your contributions to our organization's success!</p>
        </div>
        <div class="col-md-9 employee-right">
            <form asp-action="EmployeeAdd" id="empCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="tab-content" id="myTabContent">
                    <h3 class="employee-heading">Add Employee</h3>
                    <div class="row employee-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Firstname" class="control-label fw-bold"></label>
                                <input asp-for="Firstname" class="form-control" placeholder="Enter Firstname" />
                                <span asp-validation-for="Firstname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label fw-bold"></label>
                                <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label fw-bold mb-2"></label>
                                <div class="col-md-10 mb-2">
                                    <input asp-for="Gender"
                                           id="Gender"
                                           name="Gender"
                                           type="radio"
                                           value="1" />Male

                                    <input asp-for="Gender" id="Gender"
                                           name="Gender"
                                           type="radio"
                                           value="0" />Female
                                </div>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Birthdate" class="control-label fw-bold"></label>
                                <input type="date" asp-for="Birthdate" onselect="" class="form-control" />
                                <span asp-validation-for="Birthdate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Lastname" class="control-label fw-bold"></label>
                                <input asp-for="Lastname" class="form-control" placeholder="Enter Lastname" />
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label fw-bold"></label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label fw-bold">Mobile No.</label>
                                <input asp-for="Mobile_No" class="form-control" placeholder="Enter Mobile No." onkeydown="return (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 8;" />
                                <span asp-validation-for="Mobile_No" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Role" class="control-label fw-bold"></label>
                                <select class="form-select" id="ddRole" asp-for="Role" name="Role" onchange="SelectedChange()">
                                    <option value="-1" selected>Select Role</option>
                                    <option value="1" asp-for="Role">Administrator</option>
                                    <option value="0" asp-for="Role">Employee</option>
                                </select>
                                <span id="error-message" class="text-danger" style="display:none">The Role field is required.</span>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <a asp-action="EmployeeList" asp-controller="Employee" id="btnBack" class="btn btn-secondary btn-lg btnBack" >Go Back</a>
                            <input type="submit" value="Create" id="btnSave" class="btn btn-primary btn-lg btnEmployee" />
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('empCreate').addEventListener('submit', function (event) {
        SelectedChange();
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
