@model CMSManagement_Web.Models.Taskdetails

@{
    ViewData["Title"] = "UpdateTask";
}
<link href="~/css/task.css" rel="stylesheet" />
<section class="bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-9">
                    <div class="card">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-4">
                                Task Add
                            </h2>
                            <form asp-action="UpdateTask" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class=" row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="Image" class="control-label"></label><br />
                                            @*<input type="hidden" asp-for="Image" class="form-control" />*@
                                            @*<input asp-for="ImageData" class="form-control" />*@
                                            @{
                                                string[] imageList = Model.Image.Split(", ");
                                                foreach (var file in imageList)
                                                {
                                                    <img src="data:image/jpg;base64,@file" height="200" width="400" />
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="Video" class="control-label"></label><br />
                                            @*<input type="hidden" asp-for="Video" class="form-control" />*@
                                            @*<input asp-for="Videodata" class="form-control" />*@
                                            <video controls height="200" width="400">
                                                <source src="data:video/mp4;base64,@Model.Video" type="video/mp4">
                                            </video>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="Estimatedtime" class="control-label"></label>
                                            <input asp-for="Estimatedtime" class="form-control" />
                                            <span asp-validation-for="Estimatedtime" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label asp-for="Comment" class="control-label"></label>
                                            <input asp-for="Comment" class="form-control" />
                                            <span asp-validation-for="Comment" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 d-flex justify-content-center mb-3">
                                    <div class="col-md-6">
                                        <label asp-for="TaskStatus" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.TaskStatus, (SelectList)ViewBag.TaskStatuses, "Select Task Status", new { @class = "form-select" })
                                        <span asp-validation-for="TaskStatus" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-4">
                                    <a asp-action="TaskList" asp-controller="Task" id="btnBack" class="btn btn-secondary btnBack">Go Back</a>
                                    <input type="submit" value="Save" class="btn btn-primary btnUpdate" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            }
