html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hide {
    display: none !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 45px;
}

.fa-user {
    background: #1d607a;
    color: white;
    padding: 9px 12px;
    border-radius: 50%;
    font-size: 18px;
}

.fa-power-off {
    background: red;
    color: white;
    padding: 9px 11px;
    border-radius: 50%;
    font-size: 18px;
}






.table {
    box-shadow: 0px 5px 10px #a5a5a5 !important;
    margin-bottom: 10px !important;
    border-bottom: none !important;
    border-color: aliceblue !important;
}



/*datatable css*/

input[type="search"] {
    border: 2px solid #c2dbff;
    height: 35px !important;
    border-radius: 10px;
    outline: none;
    padding: 8px;
    font-weight: 500;
    margin-bottom:7px;
}

    input[type="search"]:focus {
        border: 2px solid #c2dbff;
        height: 35px !important;
        box-shadow: 0px 0px 4px 2px #cce0ff;
    }

select {
    padding: 3px;
    border-radius: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #333 !important;
    border: none !important;
    background-color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #aae4e2)) !important;
    background: -webkit-linear-gradient(top, white 0%, #aae4e2 100%) !important;
    background: -moz-linear-gradient(top, white 0%, #aae4e2 100%) !important;
    background: -ms-linear-gradient(top, white 0%, #aae4e2 100%) !important;
    background: -o-linear-gradient(top, white 0%, #aae4e2 100%) !important;
    background: linear-gradient(to bottom, white 0%, #aae4e2 100%) !important;
    box-shadow: 0px 0px 5px black;
    margin-left: 10px;
    margin-right: 4px;
    outline: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #000 !important;
    /* border: 1px solid black !important; */
    background: #f0f0f0 !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 10px !important;
    border: 1px solid #cccccc !important;
    background: linear-gradient(#b2e6ff, #ebfdff);
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
}
