USE [master]
GO
/****** Object:  Database [CMSManagement]    Script Date: 12-09-2023 11:30:48 AM ******/
CREATE DATABASE [CMSManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMSManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CMSManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMSManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CMSManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMSManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMSManagement]
GO
/****** Object:  Table [dbo].[Employee_Details]    Script Date: 12-09-2023 11:30:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Gender] [tinyint] NULL,
	[Mobile_No] [nvarchar](50) NULL,
	[Role] [int] NULL,
	[Is_status] [tinyint] NULL,
	[Is_delete] [tinyint] NULL,
	[Created_by] [int] NULL,
	[Created_date] [datetime] NULL,
	[Modified_by] [int] NULL,
	[Modified_date] [datetime] NULL,
 CONSTRAINT [PK_Employee_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee_Details] ADD  CONSTRAINT [DF_Employee_Details_Is_status]  DEFAULT ((1)) FOR [Is_status]
GO
ALTER TABLE [dbo].[Employee_Details] ADD  CONSTRAINT [DF_Employee_Details_Is_delete]  DEFAULT ((0)) FOR [Is_delete]
GO
USE [master]
GO
